{% extends 'flatpages/default.html' %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
   <h1>Все статьи</h1>
   <hr>
   {% if posts %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Содержание</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.title|truncatewords:4 }}</td>
               <td>{{ post.time_in }}</td>
               <td>{{ post.text|truncatechars:20 }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Статьи еще не написаны!</h2>
   {% endif %}
{% endblock content %}